<html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:insert="fragments/commonui :: menu"></div>
        <div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h1>Welcome to Shipping Edit Page</h1>
			</div>
			<div class="card-body">
				<form id="myproductForm" th:action="@{/product/update}" method="POST" th:object="${product}">
					<!--new Row -->
					<div class="row">
						<div class="col-4">
							<label for="id"> ID</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{id}" class="form-control" readonly/>
						</div>
					</div>
					<!--new Row -->
					 <!-- Row#1 -->
                    <div class="row">
                        <div class="col-3">
                            <label>Name</label>
                        </div>
                        <div class="col-5">
                            <input type="text" th:field="*{name}" class="form-control" />
                        </div>
                        <div class="col-4">
                            <div id="nameError"></div>
                        </div>
                    </div>
                    <!-- Row#2 -->
                    <div class="row">
                        <div class="col-3">
                            <label>Short Description</label>
                        </div>
                        <div class="col-5">
                            <input type="text" th:field="*{shortDesc}" class="form-control" />
                        </div>
                        <div class="col-4">
                            <div id="shortDescError"></div>
                        </div>
                    </div>
                    <!-- Row#3 -->
                    <div class="row">
                        <div class="col-3">
                            <label>Full Description</label>
                        </div>
                        <div class="col-5">
                            <textarea  th:field="*{fullDesc}" class="form-control"></textarea>
                        </div>
                        <div class="col-4">
                            <div id="fullDescError"></div>
                        </div>
                    </div>
                    <!-- Row#4 -->
                    <div class="row">
                        <div class="col-3">
                            <label>Brand</label>
                        </div>
                        <div class="col-5">
                            <select th:field="*{brand}" class="form-control">
                                <option value="">-SELECT-</option>
                                <option th:each="ob:${brands}" th:text="${ob.value}" th:value="${ob.key}"/>
                            </select>
                        </div>
                        <div class="col-4">
                            <div id="brandError"></div>
                        </div>
                    </div>
                    <!-- Row#5 -->
                    <div class="row">
                        <div class="col-3">
                            <label>Category</label>
                        </div>
                        <div class="col-5">
                            <select th:field="*{category}" class="form-control">
                                <option value="">-SELECT-</option>
                                <option th:each="ob:${categories}" th:text="${ob.value}" th:value="${ob.key}"/>
                            </select>
                        </div>
                        <div class="col-4">
                            <div id="categoryError"></div>
                        </div>
                    </div>
                    <!-- Row#6 -->
                    <div class="row">
                        <div class="col-3">
                            <label>Status</label>
                        </div>
                        <div class="col-5">
                            <input type="radio" th:field="*{status}" value="Active"/> Active
                            <input type="radio" th:field="*{status}" value="In-Active"/> In-Active
                        </div>
                        <div class="col-4">
                            <div id="statusError"></div>
                        </div>
                    </div>
                    <!-- Row#7 -->
                    <div class="row">
                        <div class="col-3">
                            <label>In-Stock</label>
                        </div>
                        <div class="col-5">
                            <input type="radio" th:field="*{inStock}" value="Yes"/> Yes
                            <input type="radio" th:field="*{inStock}" value="No"/> No
                        </div>
                        <div class="col-4">
                            <div id="inStockError"></div>
                        </div>
                    </div>
                    <!-- Row#8 -->
                    <div class="row">
                        <div class="col-3">
                            <label>Cost</label>
                        </div>
                        <div class="col-5">
                            <input type="text" th:field="*{cost}" class="form-control" />
                        </div>
                        <div class="col-4">
                            <div id="costError"></div>
                        </div>
                    </div>
                    <!-- Row#9 -->
                    <div class="row">
                        <div class="col-3">
                            <label>Dimension</label>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-3">
                                   LENGTH: <input type="text" th:field="*{length}" class="form-control"/>
                                </div>
                                <div class="col-3">
                                   WIDTH: <input type="text" th:field="*{width}" class="form-control"/>
                                 </div>
                                 <div class="col-3">
                                    HEIGHT: <input type="text" th:field="*{height}" class="form-control"/>
                                  </div>
                                  <div class="col-3">
                                    TYPE:
                                    <select th:field="*{dimType}" class="form-control">
                                        <option value="INCH">INCH</option>
                                        <option value="CM">CM</option>
                                        <option value="METERS">METERS</option>
                                    </select>
                                  </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="dimTypeError"></div>
                        </div>
                    </div>
                    <br/>
                    <!-- Row#10 -->
                    <div class="row">
                        <div class="col-3">
                            <label>Weight</label>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" th:field="*{weight}" class="form-control" />
                                </div>
                                <div class="col-6">
                                    <select th:field="*{wtType}" class="form-control">
                                        <option value="KG">KG</option>
                                        <option value="GRAM">GRAM</option>
                                        <option value="TON">TON</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="weightError"></div>
                        </div>
                    </div>
                    <!-- Row#11 -->
                   <!--new Row -->
					<div class="row">
						<div class="col-4">
							<label for="note"> NOTE</label>
						</div>
						<div class="col-4">
							<textarea th:field="*{note}" class="form-control"></textarea>
						</div>
						<div class="col-4" id="noteError">
						</div>
					</div>
					<input type="submit" value="Update" class="btn btn-success" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>